@using crm_dotnet.Models.entity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Budget[] budgets = (Budget[])ViewData["budgets"];
}
<div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            @Html.Partial("_leftSideBar")
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Details de budget</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped" id="table-1">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Customer</th>
                                                    <th>Montant</th>
                                                    <th>Date d'ajout</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var b in budgets)
                                                    {
                                                        <tr>
                                                            <td>@b.Id</td>
                                                            <td>@b.Customer.Name</td>
                                                            <td>@b.Montant</td>
                                                            <td>@b.Date_ajout</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>